<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Add New Candidate</title>
</head>
<body>
  <a href="#addnew" data-toggle="modal" class="btn btn-primary btn-sm btn-flat"><i class="fa fa-plus"></i> New</a>

  <div id="addnew" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="{{ url_for('add_candidate') }}">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New Candidate</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="position">Position:</label>
              <input type="text" class="form-control" id="position" name="position" required>
            </div>
            <div class="form-group">
              <label for="profile">Profile:</label>
              <input type="text" class="form-control" id="profile" name="profile" required>
            </div>
            <div class="form-group">
              <label for="first_name">First Name:</label>
              <input type="text" class="form-control" id="first_name" name="first_name" required>
            </div>
            <div class="form-group">
              <label for="last_name">Last Name:</label>
              <input type="text" class="form-control" id="last_name" name="last_name" required>
            </div>
            <div class="form-group">
              <label for="platform">Platform:</label>
              <input type="text" class="form-control" id="platform" name="platform" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>